<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>my survey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <script src="./js/jquery.min.js"></script>
         <script src="./js/bootstrap.min.js"></script>
         <script src="./angular/angular.min.js"></script>
         <script src="jquery.js"></script>
    </head>
    <body>
       <div class="">
        <ul class = "nav navbar-nav">
            <li class = "active"><a href = "#">Home</a></li>
            <li class = "active"><a href = "create_survey.html">Create a survey</a></li>
            <li class = "active"><a href = "instructions.html">Instructions of the survey</a></li>
	    <li class = "active"><a href = "QuestionsSurvey.html">Questions of the survey</a></li>
	    <li class = "active"><a href = "LoginPage.html">Login</a></li>
        </ul>
            </div>
        <div ng-app="myApp" ng-controller="controller">
            <form name="form">
               
					<table class="fixed" align="center">

                        <col width="130px" />
                        <col width="320px" />
                        
						<tr>
                            <td>Name *</td>
                        </tr>
                        <tr>
                            
                               <td><div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                                <input type="text" name="name" id="name" class="form-control" ng-model="data.survey_name" required />
                                 <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">survey name mandatory</span>
                                 </div></td>
                                
                        </tr>
                            
						<tr>
                            <td>Description </td>
                           
                        </tr>
                        <tr>
                            
                            <td><textarea cols="50" rows="10" name="description" placeholder="enter the description of the survey here..."ng-model="data.description"></textarea></td>
                        </tr>
                        
						<tr>
                            <td>Time Frame *</td> 
                            
                        </tr>
                        <tr>
                            <td><div class="form-group" ng-class="{ 'has-error': form.time.$dirty && form.time.$error.required }">
                                <input type="text" name="time" id="password" class="form-control" ng-model="data.time_frame" required />
                                 <span ng-show="form.time.$dirty && form.time.$error.required" class="help-block">time frame mandatory</span>
                                 </div></td>
                        </tr>
						<tr>
							<td></td>
							<td></td>
						</tr>
						<tr>
                                                    <td><input type="submit" class="btn btn-primary" ng-disabled="form.name.$dirty && form.name.$invalid ||  form.time.$dirty && form.time.$invalid" ng-click="valid(data)"/>
                                                        <input type="submit" value="Cancel" class="btn btn-danger" ng-click="exit()"/>
							</td>
							 </br></br>
						</Tr>
						
					</table>
                                
                                
                        
                </form>
           
    </div></center>
	
</form>
            
        </div>
    </body>
    <script>
        var app = angular.module('myApp', []);
        
       app.controller('controller',function($scope)
       {
           
           var data = {
                        
                        referenceNo: "1",
                        survey_name: "",
                        description: "",
                        time_frame: ""
           };
           $scope.data = data;
          $scope.valid = function(data)
          {
              var filename = "";
              if(!data)
              {
                  $scope.survey_error = 'error';
                  return;
              }
              if(!filename)
              {
                  filename = 'myFile.json';
              }
              if(typeof data === "object")
              {
                  data = JSON.stringify(data, undefined, 4);
              }
              var blob = new Blob([data], {type: 'text/json'}),
                e = document.createEvent('MouseEvents'),
                a = document.createElement('a');
        
                a.download = filename
                 a.href = window.URL.createObjectURL(blob)
                a.dataset.downloadurl =  ['text/json', a.download, a.href].join(':')
                e.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null)
                 a.dispatchEvent(e)  
                       
          };
          $scope.exit = function($scope)
          {
              data.survey_name = "";
              data.description = "";
              data.time_frame = "";
              
              
          }
           
       });
      
    </script>
</html>
