<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Setup instructions for survey</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src = "./js/app.js"></script>
	
<style>
#header {
    background-color:black;
    color:white;
	font:20px arial, sans-serif;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:520px;
    width:300px;
    float:left;
    padding:5px;	      
}
#section {
    width:550px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>	
</head>
<body>	
	
	<div class="container" ng-app="myApp" ng-controller="instructionCtrl"> 
		<div id="header"> 
			<h1></h1>
		</div>
		<div id="nav">		
		</div>
		<div id="section">
			<h2>Add instructions to a survey</h2><br>			
			
		<div class="form-group" name="userForm">
			<form role="form">			
				<label>Select a Survey *</label><br>
				<select class="form-control input-lg">
                                    <option ng-repeat="x in user">{{x.survey_name}}</option>
					
				</select>
			
				<div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
					<label>Name *</label><br>
                     <input  type="text" class="form-control" name="name" ng-model="data.survey_name" placeholder="Name" class="alert alert-danger" required />
					 <span ng-show="userForm.name.$dirty && userForm.name.$error.required" class="help-block">{{survey_error}}</span>
				</div>
				<div class="form-group">
					<label>Description</label><br>
					<textarea class="form-control custom-control" rows="6" /></textarea>
				</div>
				<div class="form-group">
					<label>Order of instruction *</label><br>
                     <input type="text" class="form-control" name="orderOfInstruction" ng-model="user.username" placeholder="Order of instruction" class="alert alert-danger" required />
				</div>
				<div>
                     <button type="submit" class="btn btn-primary btn-md" ng-click="valid(data)" 
					 ng-disabled="userForm.name.$dirty && userForm.name.$invalid ||  userForm.orderOfInstruction.$dirty && userForm.orderOfInstruction.$invalid">
					 Save</button>
					<button type="reset" class="btn btn-primary btn-md">Cancel</button>
				</div>
		
			</form>
		</div>
	</div>	
       </div>
		<div id="footer">© 2015 AwesomeIntern.com</div>
        
	 
	 


        
        
     
        
    <script>
		var app = angular.module('myApp', []);
        app.controller('instructionCtrl', function($scope, $http){
            var data = {
                        
                        referenceNo: "1",
                        survey_name: "",
                        description: "",
                        orderOfInstruction: ""
					};
			var instructionSurvey = function(response)
            {
                $scope.user = response.data;
            }
            $http.get("https://api.myjson.com/bins/41jqp")
                    .then(instructionSurvey);
           
		   $scope.valid = function(data){
			if(!data.survey_name)
              {
                  $scope.survey_error = 'survey name mandatory';
                  return;
              }
			   
              if(!filename)
              {
                  filename = 'instructions.json';
              }
              if(typeof data === "object")
              {
                  data = JSON.stringify(data, undefined, 4);
              }
              var blob = new Blob([data], {type: 'text/json'}),
                e = document.createEvent('MouseEvents'),
                a = document.createElement('a');
        
                a.download = filename
                 a.href = window.URL.createObjectURL(blob)
                a.dataset.downloadurl =  ['text/json', a.download, a.href].join(':')
                e.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null)
                 a.dispatchEvent(e) 
		   };
		   
        });
         
    </script>  


        
	
</body>
</html>