    <!DOCTYPE html>
        <html>

            <head>
                <title>Video Survey Builder</title> 
				
				<!-- add meta and links -->
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="./css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
				<link href="css/style.css" rel="stylesheet" type="text/css" />
				
				 <!-- add javascripts -->
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
				<script src="./js/jquery.min.js"></script>
                <script src="./js/bootstrap.min.js"></script>
				 <script type="text/javascript" src="angular.min.js"></script>
                <script type="text/javascript" src="js/app.js"></script>
				<script src="js/controllers.js"></script>
				
				</head>
				
				<body  ng-app = "app" ng-controller="MainCtrl">
                    <div class="container jumbotron">
                    
					<div data-role="navbar">
								  <ul class="nav nav-pills" role="tablist">
									<li><a href = "Home.html">Home</a></li>
									<li><a href = "createSurvey.html">Create a survey</a></li>
									<li><a href = "instructions.html">Instructions of the survey</a></li>
									<li><a href = "QuestionsSurvey.html">Questions of the survey</a></li>
									<li><a href = "LoginPage.html">Login</a></li>

								  </ul>
								</div>
                        <div >
							<center><h1>Add questions to a survey</h1><center>
							<div class="paddRow contactRow">
							<div class="wrap">
								<center><p><label >Select a Survey *</label></p></center>
									<select aria-label="ngSelected demo" name = "dropdown" ng-model = "data.dropdown" required="required">
									  <option>- None -</option>
									  <option id="greet" ng-selected="selected" value = "Video survey">Video survey</option>
									  <option id="greet" ng-selected="selected" value = "Woman survey">Woman survey</option>
									</select>

									
												<form class="contactForm" name="form" >
												<center><p><label>Question of the survey *</label><p><center>
												<input class="input" required type="text" name="question" placeholder="Questions of the survey" ng-model="data.question"/>
												<center><p><label>Question in order *</label><p><center>
												<input class="input email" required="required" type="number" name="order" value="" placeholder="Questions in order" ng-model="data.order" /><br></br>
											<button type = "submit" class="btn green" ng-click = ques(data) >Save</button> 
                                                    <button type="submit" class="btn btn-danger">Cancel</button><br></br>
										</form>

								</div>
                        </div>
                           
                        </div>
                            </center>
                            </div>
                        </body>




        </html>

